<a href="https://colab.research.google.com/github/camdsDS/Cesar_Portfolio/blob/main/Email_personalizado_com_relat%C3%B3rio_autom%C3%A1tico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

#### Importando a planilha excel

In [2]:
notas = pd.read_excel('Notas.xlsx')
df = notas.copy()
df.head()

   ID Estudante ID Classe de aula  ... Nome do responsavel 2  email do responsavel 1
0             1            Mat-01  ...                Samuel        teste1@gmail.com
1             2            Mat-01  ...                Daniel        teste2@gmail.com
2             3            Mat-01  ...                 Vitor        teste3@gmail.com
3             4            Mat-01  ...              Leonardo        teste4@gmail.com
4             5            Mat-01  ...                Lorena        teste5@gmail.com

[5 rows x 11 columns]

#### Acrescentando coluna média no df

In [3]:
df['media_estudante'] = ((df['Nota da prova 1'] + df['Nota da prova 2'])/2).to_frame().rename(columns={0: 'media'})

#### Gerando tabela com todas as notas (incluindo a média do estudante)

In [4]:
relatorio = df[['Nota da prova 1', 'Nota da prova 2', 'media_estudante']].sort_values(by = 'media_estudante', ascending=False)
relatorio.head()

    Nota da prova 1  Nota da prova 2  media_estudante
13              8.8             10.0              9.4
2               8.0             10.0              9.0
12              8.0              9.0              8.5
14              9.0              7.8              8.4
24              9.2              7.0              8.1

### Função de enviar e-mail

In [5]:
import smtplib, ssl, email.message

def enviar_email(media, ID, nome_estudante,
                 responsavel1, genero_responsavel,
                 email_responsavel,pos):

  port = 465  # SSL
  context = ssl.create_default_context()
 
  try:
    if genero_responsavel.upper() == 'M':
      email_content = f'''
      <p>Olá, senhor {responsavel1}!</p>
      <p>A média em Mat-01 de {nome_estudante}, cujo número
      na chamada é {ID}, é {media}.</p>
      <p>A média {media} é a {pos}ª mais alta da sala.</p>
      <p>Segue tabela com todas as notas da sala:</p>
      {relatorio.to_html(index=False)}
      <p>Abraços!</p>'''
    elif genero_responsavel.upper() == 'F':
      email_content = f'''
      <p>Olá, senhora {responsavel1}!</p>
      <p>A média em Mat-01 de {nome_estudante}, cujo número
      na chamada é {ID}, é {media}.</p>
      <p>A média {media} é a {pos}ª mais alta da sala.</p>
      <p>Segue tabela com todas as notas da sala:</p>
      {relatorio.to_html(index=False)}
      <p>Abraços!</p>'''
    else:
      email_content = f'''
      <p>Olá!</p>
      <p>A média em Mat-01 de {nome_estudante}, cujo número
      na chamada é {ID}, é {media}.</p>
      <p>A média {media} é a {pos}ª mais alta da sala.</p>
      <p>Segue tabela com todas as notas da sala:</p>
      {relatorio.to_html(index=False)}
      <p>Abraços!</p>'''

    msg = email.message.Message()
    msg['Subject'] = f'Relatório bimestral de Mat-01 de {nome_estudante}'
    msg['From'] = 'xxxx@gmail.com'
    msg['To'] = email_responsavel
    
    password = 'xxxx'
    
    msg.add_header('Content-Type', 'text/html')
    msg.set_payload(email_content)
    
    with smtplib.SMTP_SSL("smtp.gmail.com", port, context=context) as server:
      server.login(msg['From'], password)
      server.sendmail(msg['From'], [msg['To']], msg.as_string().encode('utf-8'))

    print('Email enviado com sucesso!')
  
  except:
    print(f'Erro ao enviar e-mail do(a) estudante {nome_estudante} de ID {ID}')

### Enviando e-mails

In [6]:
lista_notas = sorted(df['media_estudante'].unique(),reverse=True) #usaremos essa
#lista para determinar a posição da média do estudante entre todas as médias

for estudante in range(len(df)):
  media = df.iloc[estudante,11] 
  ID = df.iloc[estudante,0]
  nome_estudante = df.iloc[estudante,2]
  responsavel1 = df.iloc[estudante,7]
  genero_responsavel = df.iloc[estudante,8]
  email_responsavel = df.iloc[estudante,10]
  for posicao in range(len(lista_notas)):
    if media == lista_notas[posicao]:
      pos = posicao
  
  enviar_email(media, 
               ID,
               nome_estudante,
               responsavel1,
               genero_responsavel,
               email_responsavel,
               pos)

Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!
Email enviado com sucesso!