#### Importando bibliotecas

In [1]:
import sqlalchemy
import pandas as pd

#### Criando engine de origem

In [2]:
engine_origem = sqlalchemy.create_engine("mssql+pyodbc://usuario_prd:123456@./PORTFOLIO_PRD?driver=SQL Server")

#### Importando tabelas do SQL Server

In [3]:
pedidos = pd.read_sql(sql='SELECT * FROM pedidos', con=engine_origem)
produtos = pd.read_sql(sql='SELECT * FROM produtos', con=engine_origem)
lojas = pd.read_sql(sql='SELECT * FROM lojas', con=engine_origem)

In [4]:
pedidos.head()

    id produto loja        data
0  101     101    1  2020-06-05
1  101     117    1  2020-06-05
2  102     103    1  2020-06-05
3  103     110    2  2020-06-05
4  103     115    2  2020-06-05

In [5]:
produtos.head()

    id                           produto    valor
0  101  Smartphone Motorola Moto G9 Play  1124.10
1  102       Fralda Huggies Supreme Care    49.90
2  103         Notebook Samsung Book X40  3514.05
3  104           Escova Secadora Mondial   160.00
4  105    Smartphone Xiaomi Redmi Note 9  1524.98

In [6]:
lojas.head()

  id                     logradouro        cidade estado
0  1          Rua Santos Dumont 014     São Paulo     SP
1  2  Avenida Landell de Moura 1873       Palmira     MG
2  3          Rua César Lattes 1861  Porto Alegre     RS
3  4          Avenida Paulista 1924      Curitiba     PR

#### Tratando as tabelas

In [7]:
# merge das tabelas
consolidado_dw = pd.merge(left=pedidos, right = produtos, how='left', left_on='produto', right_on='id')
consolidado_dw = pd.merge(left=consolidado_dw, right = lojas, how='left', left_on='loja', right_on='id')

In [8]:
# dropando colunas que não nos interessa
consolidado_dw.drop(['id_x', 'id_y', 'id', 'produto_x', 'loja'], axis=1, inplace=True)

In [9]:
# reposionando as colunas
consolidado_dw = consolidado_dw[['produto_y', 'valor', 'data', 'estado', 'cidade', 'logradouro']]

In [10]:
# renomeando colunas
consolidado_dw.rename(columns={'produto_y':'Produto', 'valor': 'Preço', 'data':'Data','estado':'Estado', 'cidade':'Cidade', 'logradouro':'Endereço'}, inplace=True)

In [11]:
consolidado_dw.head()

,Produto,Preço,Data,Estado,Cidade,Endereço
0,Smartphone Motorola Moto G9 Play,1124.10,2020-06-05,SP,São Paulo,Rua Santos Dumont 014
1,Mouse gamer nk5,36.99,2020-06-05,SP,São Paulo,Rua Santos Dumont 014
2,Notebook Samsung Book X40,3514.05,2020-06-05,SP,São Paulo,Rua Santos Dumont 014
3,"Lavadora de Roupas Electolux 8,5Kg",1099.99,2020-06-05,MG,Palmira,Avenida Landell de Moura 1873
4,Fone de ouvido AirPods,899.00,2020-06-05,MG,Palmira,Avenida Landell de Moura 1873

#### Criando engine de destino

In [12]:
engine_destino = sqlalchemy.create_engine("postgresql+psycopg2://usuario_dw:123456@localhost/portfolio_DW")

#### Exportando tabela do Postgre

In [13]:
# calculando chunksize(cs) máximo
cs = 2097//len(consolidado_dw.columns)
if cs > 1000:
    cs = 1000
else:
    cs=cs

In [14]:
consolidado_dw.to_sql(name='pedidos', con=engine_destino, if_exists='replace', index=False, chunksize=cs)