<a href="https://colab.research.google.com/github/camdsDS/Cesar_Portfolio/blob/main/HousePrices_kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Supress unnecessary warnings so that presentation looks clean
import warnings
warnings.filterwarnings('ignore')

# Funções

In [3]:
def unique_cat(df):
    dict_unique_cat = {}
    for column in df.columns:
        if df[column].dtype == 'object': 
            dict_unique_cat[column] = len(df[column].unique())

    df_unique = pd.DataFrame(list(dict_unique_cat.items()), columns=['coluna_cat', 'quantidade de unique'])
    return df_unique.sort_values('quantidade de unique', ascending = False)

In [4]:
def unique_num(df):
    dict_unique_num = {}
    for column in df.columns:
        if df[column].dtype == 'int64' or df[column].dtype == 'float64': 
            dict_unique_num[column] = len(df[column].unique())

    df_unique = pd.DataFrame(list(dict_unique_num.items()), columns=['coluna_num', 'quantidade de unique'])
    return df_unique.sort_values('quantidade de unique', ascending = True)

In [5]:
def relatorio(data, target):
    '''
    Devolve um relatorio sobre valores miss no df, valor da bad rate,
    tipos de dados e correlação de Pearson     
    '''
    print('Relatorio de miss')
    df_miss = ((data.isna().sum()/len(data))*100).to_frame().reset_index().rename(columns={'index': 'column', 0:'%_miss'}).sort_values('%_miss', ascending = False)
    if df_miss['%_miss'].tolist()[0] == 0:
        print('O df não apresenta valores miss.')
    else:
        print('O df apresenta valores miss e as cinco colunas com maior concentração de miss são:')
        print(df_miss.head())
    
    import missingno as msn
    print('Gráfico missingno: as partes brancas representam dados nulos (missing).')
    msn.matrix(data)
    plt.show()

    print('\nRelatorio de zeros')
    print ('O df apresenta valores zero e as cinco colunas com maior concentração de miss são:')
    dict_de_zeros = {}
    for column in data.columns:
        if data[column].value_counts().index[0]==0:
            dict_de_zeros[column] = round(((data[column].value_counts()[0]/data[column].value_counts().sum())*100),2)

    zeros = pd.DataFrame(list(dict_de_zeros.items()),
                   columns=['colunas', '%_zeros'])
    print(zeros.sort_values('%_zeros', ascending = False))
        
    #bad_rate = data[target].value_counts()[1]/(data[target].value_counts()[0]+data[target].value_counts()[1])
    #print(f'\nBad_rate (razão entre quantidade de 1 no target e o total (0 e 1) de valores no target: {bad_rate:.2f}')

    # p0 = (data[target].value_counts()[0]/(data[target].value_counts()[0]+data[target].value_counts()[1]))*100
    # p1 = bad_rate*100
    # objects = ('0', '1')
    # y_pos = [0,1]
    # performance = [p0,p1]

    # plt.bar(y_pos, performance, align='center', alpha=0.5)
    # plt.xticks(y_pos, objects)
    # plt.ylabel('%')
    # plt.title('Comparando as proporções de 0 e 1 do target')

    # plt.show()

    #Correlação de Pearson
    corr_matrix = data.corr()
    corr_matrix = corr_matrix[target].to_frame().reset_index().rename(columns={'index': 'coluna', target:'correlacao'}).sort_values('correlacao', ascending = False)
    print('\nCorrelacao de Pearson: (5 primeiras linhas)')
    print(corr_matrix.head())

In [6]:
def RelatorioMiss(df):
    '''
    Retorna a % de miss de cada coluna do df
    '''
    df_miss = ((df.isna().sum()/len(df))*100).to_frame().rename(columns={0:'P_miss'}).reset_index().sort_values('P_miss', ascending = False)
    return df_miss

In [7]:
def RelatorioZero(df):

    dict_de_zeros = {}
    for column in data.columns:
        if data[column].value_counts().index[0]==0:
            dict_de_zeros[column] = round(((data[column].value_counts()[0]/data[column].value_counts().sum())*100),2)

    zeros = pd.DataFrame(list(dict_de_zeros.items()),
                   columns=['colunas', '%'])
    zeros = zeros.sort_values('%', ascending = False)
    print(zeros)

# Base de dados de Treino

In [8]:
# Dados do kaggle: House Prices - Advanced Regression Techniques
# https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data
data = pd.read_csv('train.csv')

# Relatório da base de dados de Treino

#### Relatório completo

#### Relatório simples

# Montando os dataframes categóricos (alta e baixa cardinalidade) e numéricos

In [9]:
data.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [10]:
data['MSSubClass'] = [str(x)+'_cat' for x in data['MSSubClass']]

In [11]:
data.head()

   Id MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1     60_cat       RL  ...        WD         Normal    208500
1   2     20_cat       RL  ...        WD         Normal    181500
2   3     60_cat       RL  ...        WD         Normal    223500
3   4     70_cat       RL  ...        WD        Abnorml    140000
4   5     60_cat       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [12]:
RelatorioMiss(data)

          index     P_miss
72       PoolQC  99.520548
74  MiscFeature  96.301370
6         Alley  93.767123
73        Fence  80.753425
57  FireplaceQu  47.260274
..          ...        ...
27    ExterQual   0.000000
24  Exterior2nd   0.000000
23  Exterior1st   0.000000
22     RoofMatl   0.000000
80    SalePrice   0.000000

[81 rows x 2 columns]

In [13]:
RelatorioZero(data)

          colunas      %
17       PoolArea  99.52
15      3SsnPorch  98.36
6    LowQualFinSF  98.22
18        MiscVal  96.44
8    BsmtHalfBath  94.38
16    ScreenPorch  92.05
2      BsmtFinSF2  88.56
14  EnclosedPorch  85.75
9        HalfBath  62.53
0      MasVnrArea  59.30
7    BsmtFullBath  58.63
5        2ndFlrSF  56.78
12     WoodDeckSF  52.12
10     Fireplaces  47.26
13    OpenPorchSF  44.93
1      BsmtFinSF1  31.99
3       BsmtUnfSF   8.08
11     GarageArea   5.55
4     TotalBsmtSF   2.53

In [14]:
data_train = data.copy()
id = data_train['Id']
y = data_train['SalePrice']
#Dropando id, alvo e features com mais de 90% de miss ou zeros:
data_train = data_train.drop(['Id', 'SalePrice', 'PoolQC', 'MiscFeature', 'Alley', 'PoolArea', '3SsnPorch', 'LowQualFinSF', 'MiscVal', 'BsmtHalfBath', 'ScreenPorch'], axis=1)

In [15]:
unique_cat(data_train).head()

      coluna_cat  quantidade de unique
8   Neighborhood                    25
16   Exterior2nd                    16
0     MSSubClass                    15
15   Exterior1st                    15
9     Condition1                     9

In [16]:
# As 3 primeiras linhas do df acima se referem a colunas categóricas com
# mais de 10 domínios.
# Vamos classificá-los como categóricos de alta cardinalidade. 
lista_categoricoAltaC = list(unique_cat(data_train).iloc[0:4, 0])
df_categoricoAltaC = data_train[lista_categoricoAltaC]

In [17]:
dominios_categorico_AltaC = {}
for column in df_categoricoAltaC.columns:
    dominios_categorico_AltaC[column] = list(df_categoricoAltaC[column].unique())

In [18]:
#Os demais serão categóricos de baixa cardinalidade
lista_categoricoBaixaC = list(unique_cat(data_train).iloc[4:, 0])
df_categoricoBaixaC = data_train[lista_categoricoBaixaC]

In [19]:
dominios_categorico_BaixaC = {}
for column in df_categoricoBaixaC.columns:
    dominios_categorico_BaixaC[column] = list(df_categoricoBaixaC[column].unique())

In [20]:
#df_numérico
lista_numerico = []
for column in data_train.columns:
        if data_train[column].dtype == 'int64' or data_train[column].dtype == 'float64':
            lista_numerico.append(column)

df_numerico = data_train[lista_numerico]
df_numerico

      LotFrontage  LotArea  OverallQual  ...  EnclosedPorch  MoSold  YrSold
0            65.0     8450            7  ...              0       2    2008
1            80.0     9600            6  ...              0       5    2007
2            68.0    11250            7  ...              0       9    2008
3            60.0     9550            7  ...            272       2    2006
4            84.0    14260            8  ...              0      12    2008
...           ...      ...          ...  ...            ...     ...     ...
1455         62.0     7917            6  ...              0       8    2007
1456         85.0    13175            6  ...              0       2    2010
1457         66.0     9042            7  ...              0       5    2010
1458         68.0     9717            5  ...            112       4    2010
1459         75.0     9937            5  ...              0       6    2008

[1460 rows x 29 columns]

### Preenchendo valores miss no df numérico

In [21]:
from sklearn.impute import SimpleImputer

imp_median = SimpleImputer(missing_values=np.nan, strategy='median')
imp_median.fit(df_numerico)
df_numerico_tratado = pd.DataFrame(imp_median.transform(df_numerico), columns=df_numerico.columns)
df_numerico_tratado.index = df_numerico.index

#### Normalizando df_numerico

## Transformando as categóricas em numéricas

### Categórico de Alta Cardinalidade

#### Redução de cardinalidade da primeira das quatro colunas: Neighborhood

In [22]:
dict_dominio_Neighborhood = {'dominio_Neighborhood_top1':[], 'dominio_Neighborhood_top2':[], 'dominio_Neighborhood_top3':[], 'dominio_Neighborhood_top4':[], 'dominio_Neighborhood_top5':[]}
i = 0
for dict in dict_dominio_Neighborhood:
    cinco = 0
    while cinco<5 and i<len(df_categoricoAltaC['Neighborhood'].value_counts(sort=True, ascending=False)):
        dict_dominio_Neighborhood[dict].append(df_categoricoAltaC['Neighborhood'].value_counts(sort=True, ascending=False).index[i])
        cinco += 1
        i +=1

In [23]:
for pos_elemento in range(len(df_categoricoAltaC['Neighborhood'])):
    if df_categoricoAltaC['Neighborhood'][pos_elemento] in dict_dominio_Neighborhood['dominio_Neighborhood_top1']:
        df_categoricoAltaC['Neighborhood'][pos_elemento] = 'Neighborhood_top1'
    elif df_categoricoAltaC['Neighborhood'][pos_elemento] in dict_dominio_Neighborhood['dominio_Neighborhood_top2']:
        df_categoricoAltaC['Neighborhood'][pos_elemento] = 'Neighborhood_top2'
    elif df_categoricoAltaC['Neighborhood'][pos_elemento] in dict_dominio_Neighborhood['dominio_Neighborhood_top3']:
        df_categoricoAltaC['Neighborhood'][pos_elemento] = 'Neighborhood_top3'
    elif df_categoricoAltaC['Neighborhood'][pos_elemento] in dict_dominio_Neighborhood['dominio_Neighborhood_top4']:
        df_categoricoAltaC['Neighborhood'][pos_elemento] = 'Neighborhood_top4'
    elif df_categoricoAltaC['Neighborhood'][pos_elemento] in dict_dominio_Neighborhood['dominio_Neighborhood_top5']:
        df_categoricoAltaC['Neighborhood'][pos_elemento] = 'Neighborhood_top5'
    else:
        df_categoricoAltaC['Neighborhood'][pos_elemento] = 'outros'

#### Redução de cardinalidade da segunda das quatro colunas: Exterior2nd

In [24]:
dict_dominio_Exterior2nd = {'dominio_Exterior2nd_top1':[], 'dominio_Exterior2nd_top2':[], 'dominio_Exterior2nd_top3':[]}
i = 0
for dict in dict_dominio_Exterior2nd:
    cinco = 0
    while cinco<5 and i<len(df_categoricoAltaC['Exterior2nd'].value_counts(sort=True, ascending=False)):
        dict_dominio_Exterior2nd[dict].append(df_categoricoAltaC['Exterior2nd'].value_counts(sort=True, ascending=False).index[i])
        cinco += 1
        i +=1

In [25]:
for pos_elemento in range(len(df_categoricoAltaC['Exterior2nd'])):
    if df_categoricoAltaC['Exterior2nd'][pos_elemento] in dict_dominio_Exterior2nd['dominio_Exterior2nd_top1']:
        df_categoricoAltaC['Exterior2nd'][pos_elemento] = 'Exterior2nd_top1'
    elif df_categoricoAltaC['Exterior2nd'][pos_elemento] in dict_dominio_Exterior2nd['dominio_Exterior2nd_top2']:
        df_categoricoAltaC['Exterior2nd'][pos_elemento] = 'Exterior2nd_top2'
    elif df_categoricoAltaC['Exterior2nd'][pos_elemento] in dict_dominio_Exterior2nd['dominio_Exterior2nd_top3']:
        df_categoricoAltaC['Exterior2nd'][pos_elemento] = 'Exterior2nd_top3'
    else:
        df_categoricoAltaC['Exterior2nd'][pos_elemento] = 'outros'

#### Redução de cardinalidade da segunda das quatro colunas: MSSubClass

In [26]:
dict_dominio_MSSubClass = {'dominio_MSSubClass_top1':[], 'dominio_MSSubClass_top2':[], 'dominio_MSSubClass_top3':[]}
i = 0
for dict in dict_dominio_MSSubClass:
    cinco = 0
    while cinco<5 and i<len(df_categoricoAltaC['MSSubClass'].value_counts(sort=True, ascending=False)):
        dict_dominio_MSSubClass[dict].append(df_categoricoAltaC['MSSubClass'].value_counts(sort=True, ascending=False).index[i])
        cinco += 1
        i +=1

In [27]:
for pos_elemento in range(len(df_categoricoAltaC['MSSubClass'])):
    if df_categoricoAltaC['MSSubClass'][pos_elemento] in dict_dominio_MSSubClass['dominio_MSSubClass_top1']:
        df_categoricoAltaC['MSSubClass'][pos_elemento] = 'MSSubClass_top1'
    elif df_categoricoAltaC['MSSubClass'][pos_elemento] in dict_dominio_MSSubClass['dominio_MSSubClass_top2']:
        df_categoricoAltaC['MSSubClass'][pos_elemento] = 'MSSubClass_top2'
    elif df_categoricoAltaC['MSSubClass'][pos_elemento] in dict_dominio_MSSubClass['dominio_MSSubClass_top3']:
        df_categoricoAltaC['MSSubClass'][pos_elemento] = 'MSSubClass_top3'
    else:
        df_categoricoAltaC['MSSubClass'][pos_elemento] = 'outros'

Redução de cardinalidade da segunda das quatro colunas: Exterior1st

In [28]:
dict_dominio_Exterior1st = {'dominio_Exterior1st_top1':[], 'dominio_Exterior1st_top2':[], 'dominio_Exterior1st_top3':[]}
i = 0
for dict in dict_dominio_Exterior1st:
    cinco = 0
    while cinco<5 and i<len(df_categoricoAltaC['Exterior1st'].value_counts(sort=True, ascending=False)):
        dict_dominio_Exterior1st[dict].append(df_categoricoAltaC['Exterior1st'].value_counts(sort=True, ascending=False).index[i])
        cinco += 1
        i +=1

In [29]:
for pos_elemento in range(len(df_categoricoAltaC['Exterior1st'])):
    if df_categoricoAltaC['Exterior1st'][pos_elemento] in dict_dominio_Exterior1st['dominio_Exterior1st_top1']:
        df_categoricoAltaC['Exterior1st'][pos_elemento] = 'Exterior1st_top1'
    elif df_categoricoAltaC['Exterior1st'][pos_elemento] in dict_dominio_Exterior1st['dominio_Exterior1st_top2']:
        df_categoricoAltaC['Exterior1st'][pos_elemento] = 'Exterior1st_top2'
    elif df_categoricoAltaC['Exterior1st'][pos_elemento] in dict_dominio_Exterior1st['dominio_Exterior1st_top3']:
        df_categoricoAltaC['Exterior1st'][pos_elemento] = 'Exterior1st_top3'
    else:
        df_categoricoAltaC['Exterior1st'][pos_elemento] = 'outros'

## Merge entre as categóricas e Dummy

In [30]:
df_categorico_total = pd.merge(df_categoricoAltaC, df_categoricoBaixaC, how= 'left', left_index= True, right_index= True)
df_categorico_dummy = pd.get_dummies(df_categorico_total, dummy_na = True, drop_first=True)

#### Juntando os df

In [31]:
#df_categorico + df_numerico_tratado

df_train = pd.merge(df_categorico_dummy, df_numerico_tratado, how= 'left', left_index= True, right_index= True)

#### Colocando em escala

In [32]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(df_train)

abt_train = pd.DataFrame(scaler.transform(df_train), columns = df_train.columns)
abt_train.index = df_train.index

#Testando modelos

In [33]:
from sklearn.model_selection import train_test_split

X_desenv, X_valid, y_desenv, y_valid = train_test_split(abt_train, y, train_size = 0.7, test_size = 0.3, random_state = 42)

In [34]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

RF = RandomForestRegressor()
GB = GradientBoostingRegressor()

from sklearn.model_selection import GridSearchCV

parametros = {'n_estimators':[80, 100, 120],
              'max_depth':[4, 5, 6, 8] }
        

gridRF = GridSearchCV(estimator = RF,        
                      param_grid = parametros,  
                      cv = 5)

gridRF.fit(X_desenv,y_desenv)
pd.DataFrame(gridRF.cv_results_)[['params','rank_test_score','mean_test_score']].sort_values('mean_test_score', ascending = False)

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                             criterion='mse', max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             max_samples=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100, n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': [4, 5, 6, 8],
                         'n_estimators': [80, 100, 120]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [37]:
gridGB = GridSearchCV(estimator = GB,        
                      param_grid = parametros,  
                      cv = 5)

gridGB.fit(X_desenv,y_desenv)
pd.DataFrame(gridGB.cv_results_)[['params','rank_test_score','mean_test_score']].sort_values('mean_test_score', ascending = False)

                                   params  rank_test_score  mean_test_score
8   {'max_depth': 6, 'n_estimators': 120}                1         0.810307
0    {'max_depth': 4, 'n_estimators': 80}                2         0.807899
2   {'max_depth': 4, 'n_estimators': 120}                3         0.806230
5   {'max_depth': 5, 'n_estimators': 120}                4         0.804063
1   {'max_depth': 4, 'n_estimators': 100}                5         0.803040
7   {'max_depth': 6, 'n_estimators': 100}                6         0.800948
6    {'max_depth': 6, 'n_estimators': 80}                7         0.796332
3    {'max_depth': 5, 'n_estimators': 80}                8         0.792968
4   {'max_depth': 5, 'n_estimators': 100}                9         0.782150
11  {'max_depth': 8, 'n_estimators': 120}               10         0.778771
10  {'max_depth': 8, 'n_estimators': 100}               11         0.767862
9    {'max_depth': 8, 'n_estimators': 80}               12         0.750524

In [40]:
from sklearn.metrics import mean_squared_error

print('RF')
print('Erro desenv')
erro_desenv_RF = mean_squared_error(y_desenv, gridRF.predict(X_desenv))
print(np.sqrt(erro_desenv_RF))
print('Erro valid')
erro_valid_RF = mean_squared_error(y_valid, gridRF.predict(X_valid))
print(np.sqrt(erro_valid_RF))


print('\nGB')
print('Erro desenv')
erro_desenv_GB = mean_squared_error(y_desenv, gridGB.predict(X_desenv))
print(np.sqrt(erro_desenv_GB))
print('Erro valid')
erro_valid_GB = mean_squared_error(y_valid, gridGB.predict(X_valid))
print(np.sqrt(erro_valid_GB))

RF
Erro desenv
14856.845663036866
Erro valid
26351.364747132124

GB
Erro desenv
2890.3556808961303
Erro valid
25700.23798502876

## Teste

In [41]:
data2 = pd.read_csv('test.csv')

In [42]:
data2['MSSubClass'] = [str(x)+'_cat' for x in data2['MSSubClass']]

In [43]:
data_test = data2.drop(['Id', 'PoolQC', 'MiscFeature', 'Alley', 'PoolArea', '3SsnPorch', 'LowQualFinSF', 'MiscVal', 'BsmtHalfBath', 'ScreenPorch'], axis=1)

In [44]:
df_test_categoricoAltaC = data_test[lista_categoricoAltaC]
df_test_categoricoBaixaC = data_test[lista_categoricoBaixaC]
df_test_numerico = data_test[lista_numerico]

In [45]:
df_test_numerico_tratado = pd.DataFrame(imp_median.transform(df_test_numerico), columns=df_test_numerico.columns)
df_test_numerico_tratado.index = df_test_numerico.index

In [46]:
for pos_elemento in range(len(df_test_categoricoAltaC['Neighborhood'])):
    if df_test_categoricoAltaC['Neighborhood'][pos_elemento] in dict_dominio_Neighborhood['dominio_Neighborhood_top1']:
        df_test_categoricoAltaC['Neighborhood'][pos_elemento] = 'Neighborhood_top1'
    elif df_test_categoricoAltaC['Neighborhood'][pos_elemento] in dict_dominio_Neighborhood['dominio_Neighborhood_top2']:
        df_test_categoricoAltaC['Neighborhood'][pos_elemento] = 'Neighborhood_top2'
    elif df_test_categoricoAltaC['Neighborhood'][pos_elemento] in dict_dominio_Neighborhood['dominio_Neighborhood_top3']:
        df_test_categoricoAltaC['Neighborhood'][pos_elemento] = 'Neighborhood_top3'
    elif df_test_categoricoAltaC['Neighborhood'][pos_elemento] in dict_dominio_Neighborhood['dominio_Neighborhood_top4']:
        df_test_categoricoAltaC['Neighborhood'][pos_elemento] = 'Neighborhood_top4'
    elif df_test_categoricoAltaC['Neighborhood'][pos_elemento] in dict_dominio_Neighborhood['dominio_Neighborhood_top5']:
        df_test_categoricoAltaC['Neighborhood'][pos_elemento] = 'Neighborhood_top5'
    else:
        df_test_categoricoAltaC['Neighborhood'][pos_elemento] = 'outros'

In [47]:
for pos_elemento in range(len(df_test_categoricoAltaC['Exterior2nd'])):
    if df_test_categoricoAltaC['Exterior2nd'][pos_elemento] in dict_dominio_Exterior2nd['dominio_Exterior2nd_top1']:
        df_test_categoricoAltaC['Exterior2nd'][pos_elemento] = 'Exterior2nd_top1'
    elif df_test_categoricoAltaC['Exterior2nd'][pos_elemento] in dict_dominio_Exterior2nd['dominio_Exterior2nd_top2']:
        df_test_categoricoAltaC['Exterior2nd'][pos_elemento] = 'Exterior2nd_top2'
    elif df_test_categoricoAltaC['Exterior2nd'][pos_elemento] in dict_dominio_Exterior2nd['dominio_Exterior2nd_top3']:
        df_test_categoricoAltaC['Exterior2nd'][pos_elemento] = 'Exterior2nd_top3'
    else:
        df_test_categoricoAltaC['Exterior2nd'][pos_elemento] = 'outros'

In [48]:
for pos_elemento in range(len(df_test_categoricoAltaC['MSSubClass'])):
    if df_test_categoricoAltaC['MSSubClass'][pos_elemento] in dict_dominio_MSSubClass['dominio_MSSubClass_top1']:
        df_test_categoricoAltaC['MSSubClass'][pos_elemento] = 'MSSubClass_top1'
    elif df_test_categoricoAltaC['MSSubClass'][pos_elemento] in dict_dominio_MSSubClass['dominio_MSSubClass_top2']:
        df_test_categoricoAltaC['MSSubClass'][pos_elemento] = 'MSSubClass_top2'
    elif df_test_categoricoAltaC['MSSubClass'][pos_elemento] in dict_dominio_MSSubClass['dominio_MSSubClass_top3']:
        df_test_categoricoAltaC['MSSubClass'][pos_elemento] = 'MSSubClass_top3'
    else:
        df_test_categoricoAltaC['MSSubClass'][pos_elemento] = 'outros'

In [49]:
for pos_elemento in range(len(df_test_categoricoAltaC['Exterior1st'])):
    if df_test_categoricoAltaC['Exterior1st'][pos_elemento] in dict_dominio_Exterior1st['dominio_Exterior1st_top1']:
        df_test_categoricoAltaC['Exterior1st'][pos_elemento] = 'Exterior1st_top1'
    elif df_test_categoricoAltaC['Exterior1st'][pos_elemento] in dict_dominio_Exterior1st['dominio_Exterior1st_top2']:
        df_test_categoricoAltaC['Exterior1st'][pos_elemento] = 'Exterior1st_top2'
    elif df_test_categoricoAltaC['Exterior1st'][pos_elemento] in dict_dominio_Exterior1st['dominio_Exterior1st_top3']:
        df_test_categoricoAltaC['Exterior1st'][pos_elemento] = 'Exterior1st_top3'
    else:
        df_test_categoricoAltaC['Exterior1st'][pos_elemento] = 'outros'

In [50]:
df_test_categorico_total = pd.merge(df_test_categoricoAltaC, df_test_categoricoBaixaC, how= 'left', left_index= True, right_index= True)
df_test_categorico_dummy = pd.get_dummies(df_test_categorico_total, dummy_na = True, drop_first=True)

In [51]:
#df_categorico + df_numerico_tratado

df_test = pd.merge(df_test_categorico_dummy, df_test_numerico_tratado, how= 'left', left_index= True, right_index= True)

In [52]:
scaler2 = MinMaxScaler()
scaler2.fit(df_test)

abt_test = pd.DataFrame(scaler2.transform(df_test), columns = df_test.columns)
abt_test.index = df_test.index

In [53]:
#criando listas para comparar os df train e test
lista_colunas_train = abt_train.columns.to_list()
lista_colunas_test = abt_test.columns.to_list()

In [54]:
#comparando (vendo o que está no train e não está no test)
Z = set(lista_colunas_train) - set(lista_colunas_test)
Z

{'Condition2_RRAe',
 'Condition2_RRAn',
 'Condition2_RRNn',
 'Electrical_Mix',
 'GarageQual_Fa',
 'Heating_GasA',
 'Heating_OthW',
 'HouseStyle_2.5Fin',
 'RoofMatl_CompShg',
 'RoofMatl_Membran',
 'RoofMatl_Metal',
 'RoofMatl_Roll',
 'Utilities_NoSeWa'}

In [55]:
for col in Z:
  abt_test[col] = 0

In [56]:
#atualizando
lista_colunas_train = abt_train.columns.to_list()
lista_colunas_test = abt_test.columns.to_list()

In [57]:
#comparando (vendo o que está no test e não está no train)
Z = set(lista_colunas_test) - set(lista_colunas_train)
Z

{'Exterior1st_outros', 'MSSubClass_outros'}

In [58]:
#dropando do test o que está no test e não está no train
abt_test = abt_test.drop(list(Z), axis = 1)

In [59]:
#atualizando(2)
lista_colunas_train = abt_train.columns.to_list()
lista_colunas_test = abt_test.columns.to_list()

In [60]:
#verificando se agora as colunas estão iguais
set(lista_colunas_test) == set(lista_colunas_train)

True

In [61]:
abt_test.columns == abt_train.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False])

In [62]:
abt_test = abt_test[list(abt_train.columns)]

In [63]:
abt_test.columns == abt_train.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True])

In [64]:
pred_test = gridGB.predict(abt_test)

output = pd.DataFrame({'Id': data2['Id'], 'SalePrice': pred_test})
output.to_csv('Submission_HousePrices22102.csv', index=False)